storage "raft" {
  path    = "/var/lib/vault/data"
  node_id = "{{ ansible_hostname }}"
}

listener "tcp" {
  address       = "0.0.0.0:8200"
  tls_disable   = "false"
  tls_cert_file = "/app/certs/"{{ ansible_hostname }}"-certificate-export-with-private-key-public.crt"
  tls_key_file  = "/app/certs/"{{ ansible_hostname }}"-certificate-export-with-private-key-decrypted.key"
}

disable_mlock = true

api_addr = "https://vault.evorigin.com:8200"
cluster_addr = "https://vault.evorigin.com:8201"
ui = true
