---
- name: Disable firewalld on AlmaLinux 9
  systemd:
    name: firewalld
    state: stopped
    enabled: false

- name: Update all currently installed packages
  shell: dnf update -y

- name: Add Microsoft RH repo
  shell: |
    curl -sSL -O https://packages.microsoft.com/config/rhel/9/packages-microsoft-prod.rpm
    rpm -i packages-microsoft-prod.rpm
    rm packages-microsoft-prod.rpm
    dnf update -y

- name: Install packages
  dnf: 
    name:
      - git
      - powershell
      - qemu-guest-agent
      - cifs-utils
    state: latest

- name: Ensure EPEL 9 repo is present
  ansible.builtin.dnf:
    name: epel-release
    state: present

#If golang-github-prometheus-node-exporter is present, remove service and uninstall.
- name: Stop and disable old prometheus-node-exporter service
  ansible.builtin.systemd:
    name: prometheus-node-exporter
    state: stopped
    enabled: false
  register: old_node_exporter_service
  failed_when: false

- name: Remove golang-github-prometheus-node-exporter package
  ansible.builtin.dnf:
    name: golang-github-prometheus-node-exporter
    state: absent
  register: old_node_exporter_pkg
  failed_when: false

- name: Install node exporter
  ansible.builtin.dnf:
    name: node_exporter
    state: present

- name: Enable and start node_exporter
  ansible.builtin.systemd:
    name: node_exporter
    enabled: true
    state: started

- name: Install PowerShell Modules
  shell: |
    Install-Module Posh-SSH -Scope AllUsers -Force
  args:
    executable: /usr/bin/pwsh

- name: Check for DupreeFunctions
  shell: |
    Import-Module DupreeFunctions
  args:
    executable: /usr/bin/pwsh
  register: df_check
  failed_when: false

- name: Install DupreeFunctions if not found
  block:
  - name: Download my PowerShell repo
    git:
      repo: https://github.com/compengevfan/PowerShell.git
      dest: /tmp/PowerShell

  - name: Install DupreeFunctions
    shell: |
      $DfVersion = (Get-Module -ListAvailable -FullyQualifiedName /tmp/PowerShell/DupreeFunctions).Version.ToString()
      New-Item -Path /usr/local/share/powershell/Modules -Name DupreeFunctions -ItemType Directory -Force
      Copy-Item -Path /tmp/PowerShell/DupreeFunctions -Destination /usr/local/share/powershell/Modules/DupreeFunctions/$DfVersion -Recurse
      Remove-Item /tmp/PowerShell -Recurse -Force -Confirm:$false
    args:
      executable: /usr/bin/pwsh
  when: df_check.rc != 0

- name: Reboot Server
  reboot:
    reboot_timeout: 300
    pre_reboot_delay: 0
    post_reboot_delay: 30
    test_command: uptime