[NewRequest]
Subject = "CN={{ ServerName }}.evorigin.com, O=EvOrigin, OU=Lab, L=Jax, ST=FL, C=US"
KeyLength = "{{ KeyLength }}"
KeySpec = 1
KeyUsage = 0xA0  ; Digital Signature, Key Encipherment
Exportable = TRUE
MachineKeySet = TRUE
RequestType = PKCS10
ProviderName = "Microsoft RSA SChannel Cryptographic Provider"
ProviderType = 12
SMIME = FALSE

[Extensions]
; Basic Constraints
2.5.29.19 = "{text}"
_continue_ = "CA=FALSE"

; Subject Alternative Name
2.5.29.17 = "{text}"
_continue_ = "DNS={{ ServerName }}.evorigin.com"

[RequestAttributes]
CertificateTemplate = "{{ cert_template }}"
