[NewRequest]
Subject = "CN={{ ServerName }}.evorigin.com, O=EvOrigin, OU=Lab, L=Jax, ST=FL, C=US"
KeyLength = "{{ KeyLength }}"
KeySpec = 1
KeyUsage = 0xA0  ; Digital Signature, Key Encipherment
Exportable = TRUE
MachineKeySet = TRUE
RequestType = PKCS10
ProviderName = "Microsoft RSA SChannel Cryptographic Provider"
ProviderType = 12
SMIME = FALSE

[RequestAttributes]
CertificateTemplate = "{{ cert_template }}"

[AlternativeNames]
DNS = {{ ServerName }}.evorigin.com
